/* seção 1 começo------------------------------------------------------------------------------------------------------*/

main{
    height: 5200px;
}



#container-info1{
    width: 100%;
    height: 430px;

    position: relative;

    display: grid;
    grid-template: 200px / 350px  350px  350px;
    grid-column-gap: 50px;
    justify-content: center;
    align-content: end;
}


.titulo-basico{
    font-size: 35px;
    width: 100%;
    padding: 0px 15px 0px 15px;
    text-align: center;
    font-weight: bold;
    color: var(--color-black);
    

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.info1{
    text-align: center;

    position: relative;
    transition: var(--transition);
    border-radius: var(--border-radius);
}


.info1:hover{
    box-shadow: var(--box-shadow);
    transform: var(--transform);
    transform-origin: center;   
}


.info1 p:nth-child(1){
    color: var(--color-black);
    font-size: 70px;
    font-weight: bold;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.info1 p:nth-child(2){
    color: var(--color-gray);
    font-size: 20px;
    font-weight: bold;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* seção 1 fim------------------------------------------------------------------------------------------------------ */



/* seção 2 começo------------------------------------------------------------------------------------------------------*/



#depoimento-container{
    position: relative;
    padding-top: 300px;
    height: 1080px;

    display: grid;
    grid-template: 300px 300px / 550px 550px;
    grid-column-gap: 70px;
    grid-row-gap: 50px;
    justify-content: center;
    align-content: end;
}



#depoimento-container > p{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: var(--color-black);

    width: 80%;

   position: absolute;
   top: 180px;
   left: 55%;
   transform: translate(-50%);
}


.barra{
    width: 30px;
    height: 150px;
    background-image: linear-gradient(225deg,#FFAF00 0%,#FE4D1B 48.15%,#E70154 100%);
    border-radius: 2px;
    
    transform: skew(-30deg);
    position: absolute;
    top: -10px;
    left: -60px;
}


.depoimento{
    position: relative;
    padding-right: 12px;
    display: grid;

    transition: var(--transition);
    border-radius: var(--border-radius);
}


.depoimento:hover{
    box-shadow: var(--box-shadow);
    transform: var(--transform);
}


.depoimento > div{
    position: relative;
}


.depoimento-foto-pessoa{
    width: 100px;
    height: 100px;
    clip-path: circle(50% at 50% 50%);
    background-color: rgb(82, 82, 82);

    margin-left: 20px;
    margin-top: 15px;
}


.depoimento-foto-pessoa img{
    width: 100%;
}




.depoimento span{
    font-size: 190px;
    color: #1F95FD; 
    font-family: Helvetica;

    position: absolute;
    top: -10px;
    right: 20px;
}


.depoimento p:nth-child(2){
    color: var(--color-gray);
    font-size: 19px;
    margin-left: 16px;
}


.depoimento p:nth-child(3){
    color: var(--color-black);
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
}

/* seção 2 fim------------------------------------------------------------------------------------------------------*/







@media screen and (min-width: 2325px){
    #depoimento-container > p{
        width: auto;
    }
}



@media screen and (max-width: 1284px){
    #container-info1{
        height: 1100px;

        grid-template: 200px 200px 200px / 350px;
        grid-row-gap: 120px;
    }


    #container-info1 > p{
        top: 10%;
    }


    #depoimento-container{
        grid-template: 300px 300px 300px 300px / 550px;
        grid-row-gap: 130px;

        height: 2100px;
    }

}


@media screen and (max-width: 1025px){
    .info1{
        text-align: center;
    
        position: relative;
    
       


        box-shadow: var(--box-shadow);
        transform: var(--transform);
    }


    .depoimento{
        box-shadow: var(--box-shadow);
        transform: var(--transform);
    }
}


@media screen and (max-width: 880px){
    #depoimento-container > p{
        font-size: 45px;
    }
}


@media screen and (max-width: 700px){
    #container-info1 > p{
        font-size: 25px;
    }


    #depoimento-container{
        grid-template: 300px 300px 300px 300px / 80%;
    }


    #depoimento-container > p{
        left: 50%;
    }


    .barra{
        display: none;
    }
}


@media screen and (max-width: 480px){
    #container-info1{
        grid-template: 200px 200px 200px / 80%;
    }


    #depoimento-container > p{
        font-size: 35px;
    }


    #depoimento-container{
        grid-template: 400px 400px 400px 400px / 80%;

        height: 2550px;
    }
}


@media screen and (max-width: 480px){
    #depoimento-container{
        grid-template: 460px 460px 460px 460px / 80%;

        height: 2700px;
    }


    .depoimento span{
        display: none;
    }


    .depoimento-foto-pessoa{
        margin: auto;
        margin-top: 35px;
    }
}


@media screen and (max-width: 335px){
    #depoimento-container{
        grid-template: 520px 520px 520px 520px / 80%;

        height: 3000px;
    }


    #depoimento-container > p{
        font-size: 30px;
    }
}